@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-6">
        <h2>Auto Rent. The best cars at the lowest rates!</h2>
        <p><img src="../home.jpg" width="500" height="600" hspace="4" vspace="4" border="0"/>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Frequently Asked Questions</h2>
        <h3>What do I need to hire a car?</h3>
        <p>
        To book your car, all you need is a credit or debit card. When you pick the car up, you’ll need:
        Your voucher / eVoucher, to show that you’ve paid for the car.
        The main driver’s credit / debit card, with enough available funds for the car’s deposit.
        Each driver’s full, valid driving licence, which they’ve held for at least 12 months (often 24).
        Your passport and any other ID the car hire company needs to see.
        Different car hire companies have different requirements, so please make sure you check the car’s terms and conditions as well.
        </p>
        <h3>How old do I have to be to rent a car?</h3>
        <p>
            For most car hire companies, the age requirement is between 21 and 70 years old. If you’re under 25 or over 70, you might have to pay an additional fee.
        </p>
        <h3>Can I book a hire car for someone else?</h3>
        <p>
            Yes, as long as they meet these requirements. Just fill in their details while you’re making the reservation.
        </p>
        <h3>How do I find the cheapest car hire deal?</h3>
        <p>
            We work with all the major international car hire brands (and lots of smaller local companies) to bring you a huge choice of cars at the very best prices. That’s how we can find you cheap car hire deals at over 49,000 locations worldwide. To compare prices and find your ideal car at an unbeatable price, just use our search form.
        </p>
    </div>
</div>